body {
    font-family: Arial, sans-serif;
    background: #0b0f35;
    margin: 0;
    padding: 40px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    color: antiquewhite;
}

.image-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.img-box {
    width: 280px;
    height: 360px;
    padding: 12px;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease;
}

.box1 {
    background: linear-gradient(135deg, #e7e56c, #e7be07);
}

.box2 {
    background: linear-gradient(135deg, #e4bd90, #86562e);
}

.box3 {
    background: linear-gradient(135deg, #0edf31, #80ff72);
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(112px);
    transition: filter 0.4s ease, transform 0.4s ease;
    border-radius: 12px;
}

.img-box:hover img {
    filter: blur(0px);
    transform: scale(1.05);
}

.img-box:hover {
    transform: translateY(-8px);
}
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: antiquewhite;
    font-size: 0.9rem;
}